@inject IHttpContextAccessor httpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthSystem</title>
    
 
    @{

        if (httpContextAccessor.HttpContext.Request.Cookies["theme"]!=null)
        {
            var theme = httpContextAccessor.HttpContext.Request.Cookies["theme"].ToString();
            if (theme =="Light")
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        }
        if (theme=="Dark")
        {
                
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cyb.min.css" />
            }
            if (theme=="Morph")
        {
                
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-morph.min.css" />
            }
        }

        else
        {
             <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        }
        }

   
    
    <link rel="stylesheet" href="~/css/site.css" />
   
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MySite</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Collections" asp-action="Index">Collections</a>
                        </li>
                       
                </ul>
                
                @{

        if (httpContextAccessor.HttpContext.Request.Cookies["theme"]!=null)
        {
            var theme = httpContextAccessor.HttpContext.Request.Cookies["theme"].ToString();
            if (theme =="Light")
        {
           <div class ="row text-right">
                            <select name="theme" id = "theme">
                              
                                <option value="0">Light</option>
                                <option value="1">Dark</option>
                                <option value="2">Morph</option>

                            </select>
                        </div>
        }
        if (theme=="Dark")
        {
                <div class ="row text-right">
                            <select name="theme" id = "theme">
                                
                                
                                <option value="0">Dark</option>
                                <option value="1">Light</option>
                                <option value="2">Morph</option>
                            </select>
                        </div>
            }
             if (theme=="Morph")
        {
                <div class ="row text-right">
                            <select name="theme" id = "theme">
                                
                                
                                <option value="0">Morph</option>
                                <option value="1">Light</option>
                                <option value="2">Dark</option>
                            </select>
                        </div>
            }
        }

        else
        {
            <div class ="row text-right">
                            <select name="theme" id = "theme">
                              
                                <option value="0">Light</option>
                                <option value="1">Dark</option>
                                <option value="2">Morph</option>
                            </select>
                        </div>
        }
        }
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <div class="invisible">......</div>

                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <partial name="_LoginPartial.cshtml" />

                </ul>
            </div>
             
                        
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AuthSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>